body {
    background-color: lightblue;
    background-image: url("../images/background.jpg");
    font-family: 'Open Sans', sans-serif;
}

header {
    padding: 30px;
    background-color: #D75A52;
    margin-bottom: 20px;
    color: white;
    border-bottom: 5px solid #8a4c35;
}

h1 {
    font-family: Lilly, Georgia, 'Times New Roman', Times, serif;
    line-height: 60px;
}

.mainArea {
   background-color: white;
    margin-bottom: 20px;
    padding-bottom: 20px;
   /* height: 80%; */
   border: 5px solid #8a4c35; 
   border-radius: 10px;
};


#question {
    font-weight: bold;
    padding: 5px;
}

.question {
    font-weight: bold;
    padding: 5px;
    font-size: 20px; 
}

#answerDiv {
    text-align: center;
    align-content: center;
    padding-top: 20px;
}


#ans1, #ans2, #ans3, #ans4 {
    padding: 5px;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    
}

#ans1:hover, #ans2:hover, #ans3:hover, #ans4:hover {
    padding: 5px;
    background-color: #94C4C1;
    /*color: white; */
    width: 60%;
    margin: auto;
}


.answerImg {
    width: 500px;
    margin: auto;
    display: block;
}

.timerP {
    width: 50%;
    margin: auto;
    padding: 10px;
}

.img-wrong {
    display: block;
    margin: auto;
} 

.start-button {
   background-color: #fbb7a0;
   color: #7f4d36;
   padding: 10px;
  font-size: 18px; 
   border-radius: 10px;
   font-family: Lilly, Georgia, 'Times New Roman', Times, serif;
}

.start-button:hover {
    background-color: #D75A52;
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    font-family: Lilly, Georgia, 'Times New Roman', Times, serif;
}

.reset-button {
    background-color: #fbb7a0;
    color: #7f4d36;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    font-family: Lilly, Georgia, 'Times New Roman', Times, serif;
 }
 
 .reset-button:hover {
     background-color: #D75A52;
     color: white;
     padding: 10px;
     font-size: 18px;
     border-radius: 10px;
     font-family: Lilly, Georgia, 'Times New Roman', Times, serif;
 }

#startDiv {
    margin-top: 20px;
}

#results {
    padding-top: 20px;
    font-size: 18px;
}

#instructions {
    text-align: center;
    margin-top: 10px;
    line-height: 30px;
}

#timer {
    font-size: 20px;
    padding: 5px;
}

.timerEnd {
    border-radius: 10px;
    background-color: #D75A52; 
  -webkit-animation: flashy 1s infinite;  /* Safari 4+ */
  -moz-animation: flashy 1s infinite;  /* Fx 5+ */
  -o-animation: flashy 1s infinite;  /* Opera 12+ */
  animation: flashy 1s infinite;  /* IE 10+, Fx 29+ */
}
.timerOn {
    background-color: #3F7D20;
    color: white;
}

@font-face {
    font-family: Lilly;
    src: url(Lilly/Lilly__.ttf);
}

@keyframes flashy {
    0%, 49% {
      background-color: #e5aa28;
      
    };
    50%, 100% {
      background-color: #D75A52;
    };
  };
